{% extends 'proyectoHotelBundle::layout.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/estilo_pantallas_base.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/errores/estilo_errores.css') }}" />
{% endblock %}

{% block cabecera %}
	<div id="cabecera">
		<div id="slogans">
			<div id="c_s_1">
				<div id="s_1">Error</div>
				<div id="bg_s_1"> </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block banner_reserva %}{% endblock %}

{% block contenido %}
	<div id="informacionError">
		<h1>{{ titulo }}</h1>
		<p>{{ mensaje }} Volver a la <a href="{{ path("pagina_principal") }}">página principal</a>.</p>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}