{% extends 'proyectoHotelBundle::layout.html.twig' %}

{% block titulo %}Reserva: seleccionar habitación{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/reservas/estilo_reserva_habitacion.css') }}" />
{% endblock %}

{% block cabecera %}
	<div id="cabecera">
		<div id="slogans">
			<div id="c_s_1">
				<div id="s_1">Reservas</div>
				<div id="bg_s_1"> </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block banner_reserva %}{% endblock %}

{% block contenido %}
	<div id="proceso_reserva">
		<ul>
			<li><div><span>1</span></div>Información básica</li>
			<li class="activo"><div><span>2</span></div>Seleccionar habitación</li>
			<li><div><span>3</span></div>Información de cliente</li>
			<li><div><span>4</span></div>Finalizar</li>
		</ul>
	</div>

	<div id="habitaciones">
		<form method="POST" action="">
			{% for habitacion in habitaciones if habitacion.reserva is empty%}
				<div id="habitacion">
					<div id="imagen">
						<img src="{{ asset('bundles/proyectohotel/imgs/' ~ habitacion.imagen) }}" />
					</div>
					<div id="descripcion">
						<h1>{{ habitacion.nombre }}</h1>
						<div id="seleccion">
							<span id="precio">{{ habitacion.precio }} €</span>
							Seleccionar <input type="checkbox" value="{{ habitacion.id }}" id="checkboxFive" name="habitacion[]" />
						</div>
					</div>
				</div>
			{% endfor %}
			<div id="boton_hab">
				<button type="submit">Seleccionar</button>
			</div>
		</form>
	</div>
	<div id="formulario_reserva">
		<h1>Cambiar reserva</h1>
		{% form_theme form_reserva 'proyectoHotelBundle:Form:form_reserva_type.html.twig' %}
		{{ form_start(form_reserva, {'attr': {'novalidate': 'novalidate'}}) }}
			<div class="horiz">
				<span>{{ form_label(form_reserva.fecha_entrada) }}</span><br/>
				{{ form_widget(form_reserva.fecha_entrada) }}
			</div>
			
			<div class="horiz">
				<span>{{ form_label(form_reserva.fecha_salida) }}</span><br/>
				{{ form_widget(form_reserva.fecha_salida) }}
			</div>

			<div class="horiz">
				<span>{{ form_label(form_reserva.tipo_habitacion) }}</span><br/>
				{{ form_widget(form_reserva.tipo_habitacion) }}
			</div>
			
			<div class="column">
				<span>{{ form_label(form_reserva.adultos) }}</span><br/>
				{{ form_widget(form_reserva.adultos) }}
			</div>
			
			<div class="column2">
				<span>{{ form_label(form_reserva.ninios) }}</span><br/>
				{{ form_widget(form_reserva.ninios) }}
			</div>
			
			<div class="boton clear">
				{{ form_widget(form_reserva.reservar) }}
			</div>
		{{ form_end(form_reserva) }}
	</div>
	<div class="clear"></div>
	{# form_theme form_habitaciones 'proyectoHotelBundle:Form:Habitaciones_type.html.twig' #}
	{# form(form_habitaciones) #}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/proyectohotel/js/jquery-1.11.0.min.js') }}"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="//jquery-ui.googlecode.com/svn/tags/1.8.20/ui/i18n/jquery.ui.datepicker-es.js"></script>
	<script>
		global = {
			locale: '{{ app.request.locale }}'
		}
	</script>
	<script src="{{ asset('bundles/proyectohotel/js/file.js') }}"></script>
{% endblock %}