{% extends 'proyectoHotelBundle::layout.html.twig' %}

{% block titulo %}Hotel{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/jquery-ui.css') }}">
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/estilo_pantallas_base.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/estilo_barra_reserva.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/hotel/estilo_hotel.css') }}" />
{% endblock %}

{% block cabecera %}
	<div id="cabecera">
		<div id="slogans">
			<div id="c_s_1">
				<div id="s_1">Hotel</div>
				<div id="bg_s_1"> </div>
			</div>
		</div>
	</div>
{% endblock %}

{% form_theme formReserva 'proyectoHotelBundle:Form:form_reserva_type.html.twig' %}
{% block form_reserva_simple %}
	{{ form_start(formReserva, {'attr': {'novalidate': 'novalidate'}}) }}
		<div>
			<span>{{ form_label(formReserva.tipo_habitacion) }}</span><br/>
			{{ form_widget(formReserva.tipo_habitacion) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.fecha_entrada) }}</span><br/>
			{{ form_widget(formReserva.fecha_entrada) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.fecha_salida) }}</span><br/>
			{{ form_widget(formReserva.fecha_salida) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.adultos) }}</span><br/>
			{{ form_widget(formReserva.adultos) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.ninios, 'Niños') }}</span><br/>
			{{ form_widget(formReserva.ninios) }}
		</div>
		
		<div>
			<span>&nbsp</span><br/>
			{{ form_widget(formReserva.reservar) }}
		</div>
	{{ form_end(formReserva) }}
{% endblock %}

{% block contenido %}
	contenido
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/proyectohotel/js/barra_reservas_resto.js') }}"></script>
	<script src="{{ asset('bundles/proyectohotel/js/jquery-ui.js') }}"></script>
	<script src="{{ asset('bundles/proyectohotel/js/jquery.ui.datepicker-es.js') }}"></script>
	<script>
		global = {
			locale: '{{ app.request.locale }}'
		}
	</script>
	<script src="{{ asset('bundles/proyectohotel/js/file.js') }}"></script>
{% endblock %}