{% extends 'proyectoHotelBundle::layout.html.twig' %}

{% block titulo %}Hotel{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/jquery-ui.css') }}">
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/estilo_pantallas_base.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/estilo_barra_reserva.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/proyectohotel/css/hotel/estilo_hotel.css') }}" />
{% endblock %}

{% block cabecera %}
	<div id="cabecera">
		<div id="slogans">
			<div id="c_s_1">
				<div id="s_1">Hotel</div>
				<div id="bg_s_1"> </div>
			</div>
		</div>
	</div>
{% endblock %}

{% form_theme formReserva 'proyectoHotelBundle:Form:form_reserva_type.html.twig' %}
{% block form_reserva_simple %}
	{{ form_start(formReserva, {'attr': {'novalidate': 'novalidate'}}) }}
		<div>
			<span>{{ form_label(formReserva.tipo_habitacion) }}</span><br/>
			{{ form_widget(formReserva.tipo_habitacion) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.fecha_entrada) }}</span><br/>
			{{ form_widget(formReserva.fecha_entrada) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.fecha_salida) }}</span><br/>
			{{ form_widget(formReserva.fecha_salida) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.adultos) }}</span><br/>
			{{ form_widget(formReserva.adultos) }}
		</div>
		
		<div>
			<span>{{ form_label(formReserva.ninios, 'Niños') }}</span><br/>
			{{ form_widget(formReserva.ninios) }}
		</div>
		
		<div>
			<span>&nbsp</span><br/>
			{{ form_widget(formReserva.reservar) }}
		</div>
	{{ form_end(formReserva) }}
{% endblock %}

{% block contenido %}
	<div id="hotel_informacion">
		<div id="titulo">
			<h1>Hotel Symfony II</h1>
		</div>
		
		<p>Un elegante santuario, el Hotel Symfony II dispone de dos restaurantes gourmet, una impresionante piscina rodeada de cabañas privadas , un centro de belleza y una fabulosa colección de arte contemporáneo.</p>
		<p>Con una atractiva fachada, el Hotel Symfony II se encuentra rodeado de cuidados jardines con un patio encantador.</p>
		<p>La selección de actividades en toda la zona va desde el ciclismo, equitación, escalada, barranquismo y senderismo para explorar la reserva natural a sólo diez minutos a pie del Hotel Symfony II. A sólo 30 minutos en coche, los amantes del golf encontrarán al menos cuatro magníficos campos de golf.</p>
		<p>En línea con nuestro compromiso de ofrecer a nuestros clientes tanto en la elección y la diversidad, se ofrecen una amplia variedad de <a href="{{ path("pagina_habitaciones") }}">habitaciones</a> para que usted pueda elegir.</p>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/proyectohotel/js/barra_reservas_resto.js') }}"></script>
	<script src="{{ asset('bundles/proyectohotel/js/jquery-ui.js') }}"></script>
	<script src="{{ asset('bundles/proyectohotel/js/jquery.ui.datepicker-es.js') }}"></script>
	<script>
		global = {
			locale: '{{ app.request.locale }}'
		}
	</script>
	<script src="{{ asset('bundles/proyectohotel/js/file.js') }}"></script>
{% endblock %}